.btn-create-project {
    color: white;
}

.project-form-container {
    background-color: #e9ecef;
    width: 500px;
    height: 340px;
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
}

.project-row {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.project-row:hover {
    background-color: #e9ecef;
}

.manage-btns-container {
    display: none;
}

.project-row:hover .manage-btns-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: gray;
}

.row-selected {
    background-color: #e9ecef;
}

.create-project-input-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.create-project-input-label {
    width: 200px;
}

.create-project-save-btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.create-project-save-btn {
    width: 120px;
    height: 40px;
}
