.messages_container {
    width: 500px;
    /*background-color: bisque;*/
    padding: 10px;
}

.message_container {
    background-color: rgb(206, 223, 239);
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_message_container_parent {
    white-space: nowrap;
}

.add_message_container {
    margin-top: 20px;
    display: inline-block;
}

.message_input {
    width: 50%;
}
