.page_background {}

.theme_card_container {
    border-radius: 15px;
    background-color: rgb(239, 206, 206);
    margin: 20px 80px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.theme_name_container {
    padding-top: 10px;
    padding-left: 50px;
}

.theme_status_container {
    padding-top: 23px;
    padding-right: 50px;
    font-size: 15px;
}

.theme_name {
    font-size: 16px;
    font-weight: bold;
}

.theme_author {
    font-size: 12px;
}

.add_button {
    margin-top: 20px;
    margin-left: 80px;
}

.theme_container {
    border-radius: 15px;
    background-color: rgb(239, 206, 206);
    padding: 20px;
}

.comment_container {
    margin-top: 40px;
    border-radius: 15px;
    background-color: rgb(206, 223, 239);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment_info_container {
    display: flex;
    flex-direction: row;
}

.comment_text_block {
    margin-left: 10px;
}

.add_reply_container {
    margin-top: 30px;
}

.save_reply_btn {
    width: 20%;
}

.theme_buttons_container {
    width: 140px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.img_container {
    padding: 5px;
    width: 55px;
}

.need_auth_block {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 100px;
}