.sidebar-dropdown {
    padding-left: 35px;
    padding-top: 30px;
}

.sidebar-separate-line {
    width: 90%;
    border-color: #ffffff5d;
}

.sidebar-links {
    padding-left: 20px;
    padding-top: 15px;
}